.livre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.livre .image-carte {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeff05;
    width: 100%;
    height: 190px;
    border-radius: 20px 20px 0 0;
}

.identite-livre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre-carte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genre-carte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.auteur-carte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bouton-carte{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
