.livre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-carte {
    display: flex;
    justify-content: center;
    align-items: center;
}

.identite-livre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre-carte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genre-carte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.auteur-carte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bouton-carte{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
